*, *::before *, ::after {
    box-sizing: border-box;
}

body {
    background-color:#333;
    color:cornsilk;
    margin:0;
    padding:0;
    border:5px solid cornsilk;
    width:100%;
}
.title {
    text-align: center;
}

.results {
    text-align: center;
    border:2px solid cornsilk;
    margin:2em 2em;
}

.selection {
    text-align: center;
    font-size:1.8rem;
}
.button {
    text-align: center;
    padding:.8em;
    font-size: 1.125rem;
    border-radius:5%;
    transform: scale(1.2);
    transition-delay: 200ms;
    cursor:pointer;
}
.fa-repeat, .fa-play {
    cursor:pointer;
}

.fa-repeat {
    margin-top:.5em;
}

.game {
    margin:0 auto;
    text-align:center;
    font-size:3rem;
}

.button:hover {
    border:3px solid cornsilk;
}

.flex {
    display:flex;
    flex-direction: row;
    gap:2em;
    font-size:.8rem;
    flex:auto;
}

.button__rock {
    margin-left:2em;
}

.footer {
    font-size:.8rem;
    margin-bottom:2em;
    text-align: center;
    margin-top:2em;
}

.footer__link {
    text-decoration: none;
    color:cornsilk;
    font-weight:900;
}